.portfolio-list {
   > .collapsible-body, th, td {
      padding: 0px 0px 0px 0px !important;
   }

   th, td {
      padding: 0px 0px 0px 0px !important;
      text-align: center !important;
   }

   td {
      text-align: center !important;
   }
}
