.portfolio-list {
   > .collapsible-body, th, td {
      padding: 0px 0px 0px 0px !important;
   }

   th, td {
      // padding: 0px 0px 0px 0px !important;
      text-align: center !important;
   }

   td {
      text-align: center !important;
   }

   tr {
      padding: 0 !important;
      height: 15px !important;
   }
}


.ticker-img {
   border-radius: 3px 3px 3px 3px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.search-bar {
   width: 70% !important;

   line-height: 32px !important;

   > div > button {
      height: 40px !important;

      > div > svg {
         position: relative;
         bottom: 4px;
      }
   }
}

.search-bar-font {
   font-size: 14px !important;

   input, div {
      height: 40px !important;
   }

   div {
      bottom: 0px !important;
   }
}
