#logo {
   padding-left: 15px;
}
#header {
  background-color: #4A525A;
}

.mainApp {
  background-color: #212B33;
}
.search-button {
   font-size: 14px;
   background-color: #4A525A;
}

.valign-wrapper {
  padding-top: 15px;
  z-index: 1;
  position: relative;
}

.stock-crypto-list {
  z-index: 0;
  position: relative;
}

.navbar-img {
    padding-top: 57px;
    background-color: #4A525A;
}

#collapsible-header {
  background-color: #607D8B;
}

.header {
    box-shadow: 10px, 10px, 5px;
    z-index: 1;
    position: relative;
}

.side-nav {
  background-color: #4A525A;
  z-index: 0;
  position: relative;
}

.navbar-img {
  filter: blur(0px);
}

.side-nav {
   width: 375px;
}
