#logo {
   padding-left: 20px;
   font-size: 25px;
   font-weight: 300;
}
#header {
  background-color: #5FCA9D;
  z-index: 1;
}
#AccountDropDown-NavItem {
  font-weight: 300;
}

#AccountDropDown-row {
  font-weight: 300;
  font-size: 16px;
  padding-right: 20px;
}

.mainApp {
  background-color: #212B33;
}

#dropdown {
  z-index:1000;
}

.material-icons {
  font-size: 60px;
}

.search-button {
   font-size: 14px;
   background-color: #5FCA9D;
}

#chartPiece {
  padding-bottom: 0px;
  padding-right: 100px;

}

.valign-wrapper {
  padding-top: 15px;
  z-index: 1;
  position: relative;
}

.stock-crypto-list {
  z-index: 0;
  position: relative;
}

.navbar-img {
    padding-top: 57px;
    background-color: #4A525A;
}

#collapsible-header {
  background-color: #4A525A;
}

.collapsible-body {
   background-color: #3c444c !important;
   padding: 0px !important;
}

.header {
    box-shadow: 10px, 10px, 5px;
    z-index: 1;
    position: relative;
}

.side-nav {
  background-color: #4A525A;
  z-index: 0;
  position: relative;
}

.navbar-img {
  filter: blur(0px);
}

.side-nav {
   width: 370px;
}

.quantity {
   width: 3.5em !important;
   height: 2em !important;
   margin: 0px !important;
   text-align: right;
}

.tracker-icon {
   padding: 0px !important;
   height: 35px !important;
   line-height: 40px !important;
}

.tracker-row {
   padding-bottom: 10px;
}

.collapsible-body {
   padding-left: 10px !important;
}

.quantity-text {
   padding-right: .2em !important;
   padding-left: .2em !important;
}

.price-text {
   padding-right: 1.5em !important;
}

#ticker-name {
   width: 10.667%;
}

.time-series-tabs {
  background-color: #212B33 !important;
}
