#logo {
  padding-left: 20px;
  font-size: 25px;
  font-weight: 300; }

#header {
  background-color: #5FCA9D;
  z-index: 1; }

#AccountDropDown-NavItem {
  font-weight: 300; }

#AccountDropDown-row {
  font-weight: 300;
  font-size: 16px;
  padding-right: 20px; }

.snack-bar {
  text-align: center; }

.copyRight {
  text-align: center; }

.googleSignIn {
  height: 50px;
  margin-top: 5px; }

.googleSignInLanding {
  padding-top: 15px;
  height: 20%;
  width: 20%;
  padding-bottom: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.HomeChart {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  background-color: #6f7984; }

.NewsList {
  background-color: #6f7984;
  margin-top: 15%;
  border-radius: 3px;
  width: 100%; }

.News-Subheader {
  background-color: #6f7984;
  padding-top: 8%;
  margin-bottom: 5%;
  border-radius: 5px 5px 0px 0px; }

.ticker-row {
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 0%; }

.mainApp {
  background-color: #212B33;
  height: 100% !important;
  padding-bottom: 5%; }

.portfolio-value {
  font-size: 21px; }

#dropdown {
  z-index: 1000; }

.ticker-price-row {
  margin-top: -5px;
  margin-bottom: -5px; }

.material-icons {
  font-size: 60px; }

.search-button {
  font-size: 12px;
  background-color: #5FCA9D; }

.chartPiece {
  padding-top: -1%;
  padding-left: 5%;
  margin: auto;
  width: 60%; }

.Graph {
  overflow: hidden; }

.valign-wrapper {
  padding-top: 15px;
  z-index: 1;
  position: relative; }

.stock-crypto-list {
  z-index: 0;
  position: relative; }

.navbar-img {
  padding-top: 57px;
  background-color: #4A525A; }

.collection-item {
  background-color: #dbdbdb !important;
  width: 90%; }

.collapsible-body {
  background-color: #dbdbdb !important;
  padding-left: 10px; }

.collapsible-header {
  background-color: #4A525A !important;
  padding-left: 10px; }

.black-text {
  margin-top: -25px;
  margin-bottom: -25px; }

.header {
  box-shadow: 10px, 10px, 5px;
  z-index: 1;
  position: relative; }

.side-nav {
  background-color: #4A525A !important;
  /*width: 360px; */
  column-fill: auto;
  z-index: 0;
  position: relative; }

.navbar-img {
  filter: blur(0px); }

.quantity {
  width: 3.5em !important;
  height: 2em !important;
  margin: 0px !important;
  text-align: right; }

.tracker-icon {
  padding: 0px !important;
  height: 10px !important;
  line-height: 10px !important; }

.tracker-row {
  padding-bottom: 5px; }

.quantity-text {
  padding-right: .2em !important;
  padding-left: .2em !important; }

.price-text {
  padding-right: 1.5em !important; }

.ticker-name {
  padding-right: 100px; }

.time-series-tabs {
  background-color: #212B33 !important; }

body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px; }

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px; } }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3; }

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c; }

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black; }

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white; }

#mainNav .navbar-brand {
  font-weight: 700; }

#mainNav a {
  color: white; }

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent; }

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent; }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black; }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3); }
  #mainNav .nav-link.active:hover {
    color: white; } }

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.jpg") no-repeat bottom scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle; }

.masthead .intro-body .brand-heading {
  font-size: 50px;
  padding-top: 20%; }

.masthead .intro-body .intro-text {
  font-size: 18px;
  padding-bottom: 0%; }

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0; }
  .masthead .intro-body .brand-heading {
    font-size: 90px; }
  .masthead .intro-body .intro-text {
    font-size: 22px; } }

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent; }

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1); }

.content-section {
  padding-top: 150px;
  padding-bottom: 150px; }

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#map {
  width: 100%;
  height: 300px; }

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px; }
  #map {
    height: 350px; } }

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent; }

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3; }

.list-inline-item {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

ul.banner-social-buttons {
  margin-top: 0;
  display: block; }

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px; } }

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0; } }

.footer {
  padding: 50px 0; }

footer p {
  font-size: 14px;
  margin: 0; }

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
